* {
    padding: 0;
    margin: 0;
}

/*HEADER gral*/

.encabezado {
    grid-area: header;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    grid-area: "header";
}

.navbar-brand {
    background-color: orange;
}

.navbar-toggler {
    background-color: rgb(0, 132, 255);
}

.navegador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.navegador li {
    width: 120px;
    text-align: center;
    color: white;
    background-color: orange;
    border: solid;
    border-color: orange;
    border-radius: 3px;
    margin: 15px;
    padding: 3px;
    border: 3px;
    border-style: double;
}

.navegador li:hover {
    background-color: white;
}

.hamburguesa li {
    color: white;
    background-color: orange;
    border: solid;
    border-color: orange;
    border-radius: 3px;
    margin: 15px;
    padding: 3px;
    border: 3px;
    border-style: double;
}

.encabezado img {
    margin: 5px;
    width: 200px;
}


/*SECCION PRINCIPAL (index)*/
.seccion {
    grid-area: "seccion";
    width: 95%;
    background-color: orange;
    right: 60px;
    display: flex;
    flex-direction: column;
}

.seccion ul li {
    margin: 30px;
}

.seccion ul img {
    width: 400px;
    height: 200px;
}

h1 {
    color: white;
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    margin: 80px;
}

h2 {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.frente img {
    width: 95%;
    height: 200px;
    margin: 10px;
}

p {
    text-align: center;
    width: 95%;
    padding: 30px;
    font-size: 20px;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/*FOOTER gral*/

.finfooter {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.ins {
    width: 5px;
}

.whats {
    width: 5px;
}

.finfooter img {
    margin: 30px;
    width: 40px;
}

.finfooter img:hover {
    margin: 20px;
    width: 50px;
}

.copyright {
    margin: 30px;
    font-size: 15px;
}

.pre-fin {
    grid-area: "footer";
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}


/* ACTIVIDADES*/

.lista-actividad {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.act-cont img{
    width: 90%;
}
.seccion p {
    padding: 30px;
    font-size: 20px;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HORARIOS*/
.logo {
    margin: 5px;
    width: 200px;
}

.img-hora {
    width: 90%;
    margin: 30px;

}

.horario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.rusa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.rusa img {
    width: 90%;
}

.grid-contenedor {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header"
        "seccion"
        "footer";
}

.menu ul {
    display: none;
}

/*FORMULARIOS*/

.formulario {
    margin: 5px;
}

/*NOSOTROS*/
.profes {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    margin: 10px;
    border: solid rgb(0, 132, 255);
}

.card img {
    width: auto;
    height: 380px;
}

.card-body {
    background-color: rgb(0, 132, 255);
}

.card-title {
    color: orangered;
}

.card-body ul {

    color: orangered;
}

/*TABLET*/
@media (min-width: 768px) {
    .encabezado {
        display: flex;
        margin: 15px;
    }

    /*MENU DE NAVEGACION*/
    .menu {
        grid-area: menu;
        background-color: white;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .menu li {
        color: white;
        background-color: orange;
        border: solid;
        border-color: orange;
        border-radius: 3px;
        margin: 15px;
        padding: 3px;
        border: 3px;
        border-style: double;
    }

    .menu li:hover {
        background-color: white;
    }

    .navegador {
        display: none;
    }

    /*ACTIVIDAD*/
    .lista-actividad {
        flex-direction: column;
        justify-content: space-around;
        text-align: start;
    }
    .act-cont{
        display: flex;
    }
    p {
        font-size: 15px;
    }

    .seccion p {
        display: flex;
        text-align: start;
    }

    .fin {
        flex-direction: column;
    }



    .img-hora {
        margin: 10px;
    }

    .detalle {
        display: inline-flex;
    }

    /*HORARIO*/
    .fin {
        grid-area: footer;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }

    .grid-contenedor {
        grid-template-areas:
            "header  header"
            "menu menu"
            "seccion seccion"
            "footer  footer";
    }

}

/*DESKTOP (INDEX)*/
@media (min-width: 1200px) {

    .seccion {
        flex-direction: row;
    }

    .frente {
        display: flex;
        justify-content: space-around;
    }

    p {
        font-size: 15px;
    }

    /*ACTIVIDAD*/
    .lista-actividad {
        justify-content: space-around;
    }

    .lista-actividad p {
        font-size: 15px;
    }


    /*HORARIO*/
    .img-hora {
        margin: 10px;
    }

    .detalle {
        display: inline-flex;
    }

    .grid-contenedor {
        grid-template-areas:
            "header  header header"
            "menu menu menu"
            "seccion seccion"
            "footer  footer footer";
    }
}