footer {

    grid-area: "footer";

    .finfooter {
        flex-direction: colum;
        align-items: flex-end;
        justify-content: flex-end;

        .redes {
            margin: 30px;
            width: 40px;


            transform: scale(1.05, 1.05);
            -webkit-animation: wobble-hor-bottom 3s infinite;
            animation: wobble-hor-bottom 3s infinite;

            @keyframes wobble-hor-bottom {

                0%,
                100% {
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                    -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%
                }

                15% {
                    -webkit-transform: translateX(-30px) rotate(-6deg);
                    transform: translateX(-30px) rotate(-6deg)
                }

                30% {
                    -webkit-transform: translateX(15px) rotate(6deg);
                    transform: translateX(15px) rotate(6deg)
                }

                45% {
                    -webkit-transform: translateX(-15px) rotate(-3.6deg);
                    transform: translateX(-15px) rotate(-3.6deg)
                }

                60% {
                    -webkit-transform: translateX(9px) rotate(2.4deg);
                    transform: translateX(9px) rotate(2.4deg)
                }

                75% {
                    -webkit-transform: translateX(-6px) rotate(-1.2deg);
                    transform: translateX(-6px) rotate(-1.2deg)
                }
            }

            @keyframes wobble-hor-bottom {

                0%,
                100% {
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                    -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%
                }

                15% {
                    -webkit-transform: translateX(-30px) rotate(-6deg);
                    transform: translateX(-30px) rotate(-6deg)
                }

                30% {
                    -webkit-transform: translateX(15px) rotate(6deg);
                    transform: translateX(15px) rotate(6deg)
                }

                45% {
                    -webkit-transform: translateX(-15px) rotate(-3.6deg);
                    transform: translateX(-15px) rotate(-3.6deg)
                }

                60% {
                    -webkit-transform: translateX(9px) rotate(2.4deg);
                    transform: translateX(9px) rotate(2.4deg)
                }

                75% {
                    -webkit-transform: translateX(-6px) rotate(-1.2deg);
                    transform: translateX(-6px) rotate(-1.2deg)
                }
            }



        }

        .copyright {
            color: orange;
            text-align: end;
            font-size: 12px;
            margin: 20px;
        }

    }

}