@use './variables';
.seccion {
    grid-area: seccion;
    display: flex;
    flex-direction: column;

    article {
        h1 {
            text-align: center;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 3rem;
            margin: 10px;
            text-shadow: 2px 2px black;
        }

        h2 {
            color: white;
            margin: 5px;
            font-size: 2rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 2px 2px black;
        }

        div {
            p {
                background-color: variables.$estilos-p;
                color: white;
                text-align: center;
                width: 95%;
                padding: 30px;
                font-size: 20px;
                font-style: oblique;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-shadow: 2px 2px black;

                @media (min-width: 768px) {;
                    color: white;
                    text-shadow: 2px 2px black;

                }
            }

            div {
                display: flex;
                justify-content: center;
                margin: 10px;

                iframe {
                    width: 400px;
                    height: 200px;
                }
            }
        }
    }
}