@use './variables';
/*Horarios*/

.seccion-horarios {
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    margin: 0;


    .horario {
        h1 {
            color: white;
        }

        div {
            display: flex;
            justify-content: space-around;

            .img-hora {
                width: 500px;
                margin: 30px;

            }

            .detalle {
                text-align: start;
                color: white;
                text-shadow: 2px 2px black;
            }
        }
    }
}