@use './variables';


/*SECCION ACTIVIDADES*/

.seccion-actividades {
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;

    article {
        h1 {
            color: white;
        }

        nav {
            ul {
                .lista-actividad {

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    @media (min-width: 768px) {
                        flex-direction: row;
                        justify-content: space-around;
                        text-align: start;
                        margin: 15px;
                        padding: 3px;
                    }

                    .act-cont {
                        @media (min-width: 768px) {
                            &:hover {
                                transform: scale(1.05, 1.05);
                                transition: 1s;
                            }
                        }
                        a {
                            img {
                                margin: 0;
                                @include variables.medidas(200px, 400px);
                                

                            }
                        }

                        p {
                            background-color: variables.$estilos-p;
                            margin: 0;
                            width: 400px;
                            height: 200px;
                            font-size: 1rem;
                            font-style: oblique;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            color: white;
                            text-shadow: 2px 2px black;

                            @media (min-width: 768px) {
                                width: 90%;
                                font-size: 1.3rem;
                                display: flex;
                                text-align: start;
                                color: white;
                                text-shadow: 2px 2px black
                            }

                        }

                        .parrafo {
                            color: white;

                            @media (min-width: 768px) {
                                font-size: 1.3rem;
                                color: white;
                                text-shadow: 2px 2px black
                            }
                        }

                        @media (min-width: 768px) {
                            display: flex;

                        }
                    }

                }
            }
        }
    }
}