@use './variables';

/*NOSOTROS*/

.seccion-nosotros {
    grid-area: seccion;
    display: flex;
    flex-direction: column;
    margin: 0;

    h1 {
        color: white;
        text-align: start;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 60px;
        text-shadow: 2px 2px black;
    }

    h2 {
        color: white;
        text-align: center;
        margin: 30px;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 2px 2px black;
    }

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;


        @media (min-width: 768px) {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 13rem;
            margin: 8px;


            @media (min-width: 768px) {
                flex-direction: column;
                width: 15rem;
                &:hover {
                    transform: scale(1.05, 1.05);
                    transition: 1s;
                }
            }

        }

        img {
            width: 13rem;

            @media (min-width: 768px) {
                @include variables.med-nosotros(300px, 240px)
            }
        }

        .card-body {
            width: 13rem;
            p{
                font-size: 1rem;
                font-style: oblique;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

        }
    }
}