@use './variables';
/*FORMULARIO*/

.seccion-formulario {
    grid-area: seccion;
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;

    h1 {
        color: white;
        text-align: start;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 60px;
        text-shadow: 2px 2px black;
    }

    .formulario {
        margin: 0;

        div {
            .indicacion {
                font-size: 1rem;
                color: white;
                text-shadow: 2px 2px black;
            }
        }
    }
}