/*SECCION INDEX*/

.seccion {
    grid-area: seccion;
    display: flex;
    flex-direction: column;

    article {
        h1 {
            text-align: center;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 3rem;
            margin: 10px;
        }

        h2 {
            color: white;
            margin: 5px;
            font-size: 2rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        div {
            p {
                color: white;
                text-align: center;
                width: 95%;
                padding: 30px;
                font-size: 20px;
                font-style: oblique;
                font-family: Verdana, Geneva, Tahoma, sans-serif;

            }

            div {
                display: flex;
                margin: 10px;
                iframe{
                    width: 400px;
                    height: 200px;
                }
                }
        }
    }
}